@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Install
 * Version: 5.0
 */

/* ---------- Reset ---------- */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, select, button, th, td, p, hr, blockquote, pre, code {
	padding: 0px;
	margin: 0px;
}

html {
	_width: 100%;
	_height: 100%;
	color: #666666;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	_filter: expression(document.execCommand("BackgroundImageCache", false, true));
	background-color: #ffffff;
	_background-image: url(about: blank);
	_background-attachment: fixed;
}

body {
	_width: 100%;
	_height: 100%;
}

body, input, textarea, select, button {
	font: 12px tahoma, Arial, Verdana, sans-serif;
}

input, textarea, select, button {
	font-size: 100%;
	vertical-align: middle;
	outline: none;
}

input[type=checkbox] {
	margin-right: 2px;
}

textarea {
	resize: none;
}

button {
	cursor: pointer;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

th {
	text-align: left;
}

a {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #ff6600;
	text-decoration: none;
}

img {
	vertical-align: middle;
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	border: 0px;
}

ul, ol {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6, strong, em, b {
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

/* ---------- Base ---------- */

.black {
	color: black;
}

.white {
	color: white;
}

.gray {
	color: gray;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.left {
	_display: inline;
	float: left;
}

.right {
	_display: inline;
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

/* ---------- Form ---------- */

input.text {
	width: 210px;
	height: 18px;
	line-height: 18px;
	padding: 4px;
	color: #666666;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid;
	border-color: #999999 #e1e1e1 #e1e1e1 #999999;
}

input.text[type=file] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input.text:hover {
	border-color: #89c1ee;
}

input.text:focus {
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	border-color: #66afe9;
}

input.text:disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	background-color: #f8f8f8;
}

input.text:disabled:hover {
	border: 1px solid;
	border-color: #999999 #e1e1e1 #e1e1e1 #999999;
}

textarea.text {
	width: 350px;
	height: 120px;
	padding: 4px;
	color: #666666;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid;
	border-color: #999999 #e1e1e1 #e1e1e1 #999999;
}

textarea.text:hover {
	border-color: #89c1ee;
}

textarea.text:focus {
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	border-color: #66afe9;
}

textarea.text:disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	background-color: #f8f8f8;
}

textarea.text:disabled:hover {
	border: 1px solid;
	border-color: #999999 #e1e1e1 #e1e1e1 #999999;
}

span.requiredField {
	line-height: 28px;
	margin-right: 2px;
	color: #ff6d6d;
	font-size: 10px;
}

/* ---------- Install ---------- */

.header {
	width: 1000px;
	margin: 10px auto 0px auto;
}

.title {
	height: 43px;
	line-height: 43px;
	padding-left: 10px;
	color: #4e4e4e;
	font-size:14px;
	font-family: "Microsoft YaHei";
	border-left: 1px solid #a4bed5;
	border-right: 1px solid #a4bed5;
	background: url(../images/install_x.gif) 0px 0px repeat-x;
}

.banner {
	height: 100px;
	padding-bottom: 3px;
	border-left: 1px solid #a4bed5;
	border-right: 1px solid #a4bed5;
	background: url(../images/install.gif) 0px 0px no-repeat;
}

.body {
	width: 998px;
	margin: 0px auto 10px auto;
	border-left: 1px solid #a4bed5;
	border-right: 1px solid #a4bed5;
	border-bottom: 1px solid #a4bed5;
}

.bodyLeft {
	width: 220px;
	float: left;
	margin-right: 4px;
}

.step {
	width: 220px;
	height: 300px;
	background: url(../images/install.gif) 0px -120px no-repeat;
}

.step li {
	height: 60px;
	line-height: 60px;
	padding-left: 30px;
	text-shadow: 1px 1px #dddddd;
	background: url(../images/install.gif) -390px -120px no-repeat;
}

.step li.current {
	background: url(../images/install.gif) -390px -180px no-repeat;
}

.bodyRight {
	width: 770px;
	float: left;
}

.bodyRight iframe {
	width: 768px;
	height: 400px;
	margin-bottom: 4px;
	overflow-x: hidden;
	border: 1px solid #dfdfdf;
}

.bodyRight table {
	width: 100%;
	margin-bottom: 4px;
	border: 1px solid #c8d8e6;
}

.bodyRight table th {
	line-height: 35px;
	padding-left: 10px;
	color: #074b88;
	text-align: left;
	background-color: #eef4f7;
}

.bodyRight table td {
	height: 35px;
	line-height: 30px;
	padding-left: 10px;
	color: #303030;
	border: 1px solid #e8e8e8;
}

.bodyRight .message {
	line-height: 80px;
	color: red;
}

.bodyRight .stackTrace {
	height: 300px;
	line-height: 20px;
	padding: 5px;
	color: #6f6f6f;
	overflow-y: scroll;
	scrollbar-face-color: #ffffff;
	scrollbar-shadow-color: #a4bed5;
	scrollbar-highlight-color: #a4bed5;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #a4bed5;
}

.buttonArea {
	width: 988px;
	height: 60px;
	line-height: 60px;
	clear: both;
	padding-right: 10px;
	text-align: right;
	background: url(../images/install_x.gif) 0px -60px repeat-x;
}

.body .button {
	width: 125px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	outline: none;
	cursor: pointer;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(../images/install.gif) -240px -120px no-repeat;
}

.body .button:hover {
	background: url(../images/install.gif) -240px -180px no-repeat;
}

.footer {
	width: 1000px;
	margin: 0px auto;
}

.footer .copyright {
	line-height: 20px;
	text-align: right;
	color: #888888;
}

.loadingBar {
	width: 208px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	margin: 10px 0px;
	background: url(../images/loading_bar.gif) center no-repeat;
}

.installSuccess {
	width: 647px;
	height: 113px;
	display: none;
	padding: 10px 30px;
	margin: 40px 0px 20px 40px;
	font-family: "Microsoft YaHei";
	background: url(../images/install.gif) 0px -450px no-repeat;
}

.installSuccess strong {
	line-height: 50px;
	display: block;
	font-size: 18px;
	color: #ffffff;
}

.installSuccess span {
	display: block;
	color: #ffffff;
	font-size: 14px;
}

.installUrl {
	width: 623px;
	line-height: 25px;
	margin: 0px 0px 40px 40px;
	padding: 5px 10px;
	display: none;
	border: 4px solid #f2f2f2;
}

fieldset {
	line-height: 30px;
	padding: 0px 10px;
	margin: 10px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}